.headerContainer {
  width: 80%;
  margin: 2rem auto;
}

.title {
  text-align: center;
  font-size: var(--title-large);
  color: var(--base-color);
  margin-bottom: var(--title-subtitle-padding);
}

.description {
  text-align: center;
  font-size: var(--subtitle-large);
  color: var(--dark-gray);
  margin: 0 auto 1rem auto;
  line-height: var(--line-height-medium);
  max-width: 825px;
}

.speakingPro a {
  font-size: var(--subtitle-large);
  font-weight: 700;
  color: var(--base-color);
  cursor: pointer;
}

.speakingPro a:hover {
  color: var(--comp-color);
}

@media (max-width: 750px) {
  .headerContainer {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: var(--title-medium);
  }
  .description {
    font-size: var(--subtitle-medium);
    margin-bottom: 0;
  }

  .speakingPro a {
    font-size: var(--subtitle-medium);
  }
}