.pageContainer {
  width: 75%;
  margin: 1rem auto;
}

.header {
  text-align: center;
  margin: var(--margin-medium);
}

.title {
  text-align: center;
  font-size: var(--title-large);
  color: var(--base-color);
  margin-bottom: var(--title-subtitle-padding);
}

.description {
  text-align: center;
  font-size: var(--subtitle-large);
  color: var(--dark-gray);
  margin-bottom: 1rem;
  line-height: var(--line-height-medium);
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 4rem;
}

@media (max-width: 900px) {
  .pageContainer {
    width: 90%;
  }

  .header {
    margin: 2rem;
  }

  .cardWrapper {
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .pageContainer {
    width: 100%;
  }

  .header {
    margin: 1rem .5rem;
  }

  .description {
    margin: 1rem .5rem;
  }

  .title {
    font-size: var(--title-medium);
  }

  .cardWrapper {
    margin: 2rem .5rem;
    gap: 2rem;
  }
  
}
