.cardContainer {
  border-bottom: 2px solid lightgray;
  padding-bottom: var(--padding-large);
}

.card {
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: 200px 1fr;
  align-items: top;
}

.image {
  width: 200px;
  grid-area: image;
  align-self: center;
}

.lessonInfo {
  grid-area: text;
  margin: 0 var(--margin-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.lessonTitle {
  font-size: var(--title-medium);
  color: var(--dark-gray);
}

.lessonNumber {
  font-size: var(--subtitle-xs);
  color: var(--base-color);
  font-weight: 400;
}
.numberBorder {
  border: 1.75px solid var(--base-color);
  padding: .5rem;
}

.cardContainer:hover .lessonTitle {
  color: var(--base-color);
}

.cardContainer:hover .numberBorder {
  border: none;
  color: var(--base-color);
  font-weight: bold;
}

.cardContainer:hover .image {
  filter: brightness(0.90);
}

@media (max-width: 900px) {
  .lessonInfo {
    margin: 0 1rem;
  }

  .lessonTitle {
    font-size: var(--title-medium);
    margin: 0 0 2rem 0;
  }

}

@media (max-width: 650px) {
  .cardContainer {
    padding-bottom: var(--padding-small);
  }
  .card {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 1rem;
  }

  .image {
    width: 150px;
    grid-area: image;
    align-self: center;
  }

  .cardWrapper {
    margin: 0;
  }

  .lessonTitle {
    font-size: var(--title-small);
    margin-bottom: 2rem;
  }

  .lessonNumber {
    font-size: var(--subtitle-xs);
  }

  .lessonInfo {
    gap: 0;
  }
}

@media (max-width: 450px) {
  .lessonTitle {
    font-size: var(--title-xxs);
    margin-bottom: 1.5rem;
  }

  .lessonNumber {
    font-size: var(--subtitle-xxs);
  }

  .card {
    grid-template-columns: 125px 1fr;
    align-items: center;
    margin-bottom: 1rem;
  }

  .image {
    width: 125px;
    grid-area: image;
    align-self: center;
  }
}

