*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --base-color: #088C2E;
  --comp-color: #08668C;
  --off-white: #fefefa;
  --black: #242422;
  --light-gray: #F1F1EA;
  --dark-gray: #45403d;

  --header-color: var(--base-color);
  --header-color-light: var(--base-color-light);
  
  --title-xl: 4.8rem;
  --title-large: 3.8rem;
  --title-medium: 2.8rem;
  --title-small: 2.4rem;
  --title-xs: 2.2rem;
  --title-xxs: 2rem;

  --text-xl: 2.2rem;
  --text-large: 2rem;
  --text-medium: 1.8rem;
  --text-small: 1.4rem;
  --text-xs: 1.2rem;

  --subtitle-large: 2.2rem;
  --subtitle-medium: 2rem;
  --subtitle-small: 1.8rem;
  --subtitle-xs: 1.4rem;
  --subtitle-xxs: 1.2rem;

  --line-height-large: 1.8;
  --line-height-medium: 1.5;
  --line-height-small: 1.2;

  --margin-xl: 6rem;
  --margin-large: 4rem;
  --margin-medium: 2rem;
  --margin-small: 1rem;
  --margin-xs: .5rem;

  --padding-large: 4rem;
  --padding-medium: 2rem;
  --padding-small: 1rem;
  --padding-xs: .5rem;

  --header-font:  'Alegreya', serif;
  --content-font: 'Open Sans', sans-serif;

  --bold-font: 700;

  --title-subtitle-padding: 1rem;

  --border-radius: 6px;

  --bs-level1: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --bs-level2: 0 3px 10px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --bs-level3: 0 15px 20px -5px rgba(0,0,0,0.2), 0 4px 6px -2px rgba(0,0,0,0.04)
}

html {
  font-size: 62.5%;
  overscroll-behavior: none;
}

body {
  background: var(--off-white);
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

p,
a,
li,
button {
  font-family: var(--content-font);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--off-white);
}

/*Styles for html vocabulary*/
.examples {
  margin-left: var(--margin-medium);
  color: var(--black);
}

.examplesList {
  list-style-type: none;
}

